{% extends "AcmeSecurityBundle::admin-login-layout.html.twig" %}

{% block notice %}
Авторизуйтесь, пожалуйста!
{% endblock %}

{% block content %}

{% if error %}
    <div id="error_div">
        {{ error.message }}
     </div>
{% endif %}

<form id="admin_auth_form" name="_admin_auth_form" action="{{ path('admin_login_check') }}" method="post">
    
    <table id="admin_auth_table">
        <tr>
            <td>
                <label for="username">Логин:</label>
            </td>
            <td>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </td>
        </tr>
        <tr>
            <td>
                 <label for="password">Пароль:</label>
            </td>
            <td>
                 <input type="password" id="password" name="_password" />
            </td>
        </tr>
        <tr>
            <td colspan="2" id="submit_td">
                 <button type="submit">Войти</button>
            </td>
        </tr>
    </table>
    

    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    
</form>

{% endblock %}